/* App.css */

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/font/AeonikRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Example body styling to apply a default font */
body {
  font-family: 'Aeonik', sans-serif;
}
.active{
  @apply text-green-600 underline underline-offset-4
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination li{
  margin: 0 5px;
}

.pagination a{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #000;

}

.pagination a:hover{
  background: #eee;
}

.pagination li.activePagination{
  background: green;
  border-radius: 4px;
  color: #fff;
}

.active-button{
  color: green;
}